__pycache__
# don't track figures
code/figs/
# ignore notebooks and associated files
code/*ipynb
code/.ipynb_checkpoints
# ignore astrodrizzle/tweakreg output
code/*coo
code/*list
code/*log
code/*png
# don't try to track the data or tables; too much memory
data/